<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/custom.css" | relative_url }}">
  <script src="{{ "/assets/js/custom.js" | relative_url }}"></script>

  <title>They Might Be Ghosts!</title>

  {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords | join: ', ' | escape }}">
  {% endif %}
  {% if page.tags and page.keywords == nil %}
    <meta name="keywords" content="{{ page.tags | join: ', ' | escape }}">
  {% endif %}

  {% if site.data.events.upcoming[0] %}
    <meta property="og:title" content="They Might Be Ghosts!">
    <meta property="og:description" content="Next show: {{ site.data.events.upcoming[0].title }}">
    <meta property="og:image" content="https://theymightbeghosts.com/assets/img/{{ site.data.events.upcoming[0].image }}">
    <meta name="twitter:card" content="summary_large_image">
  {% else %}
    <meta name="description" content="{{ page.description | escape }} for They Might Be Ghosts, an independent Seattle improv troupe!">
  {% endif %}
</head>
